@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body style="background: #c0f1fc;">
    <div>
        <h2 style="text-align:center;">Unesite korisnicko ime i lozinku:</h2>
        <h3> @ViewBag.message </h3>
        <div style="align-self:center; align-content:center; text-align:center; align-items:center;">
            <form method="post" action="~/Posetilac/LoginC">
                <label> Korisnicko ime:  </label> <input type="text" name="uname" style="align-self:center;" /> <br />
                <label> Lozinka:  </label> <input type="password" name="upass" style="align-self:center;" /> <br />
                <input type="submit" value="LOG IN" />
            </form>
        </div>
    </div>
</body>
</html>
