@using FitnessUniverse.Models
@model FitnesCentar
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Komentar</title>
</head>
<body>
    <div>

        <form action="~/Home/Komentarisi">

            <input type="hidden" name="name" value="@Model.Naziv" />

            <input type="text" name="text" height="300" width=" 600" />

            <input list="grades" name="grade" /><br />

            <datalist id="grades">
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
            </datalist>


            <input type="submit" value="Ostavi komentar" />


        </form>



    </div>
</body>
</html>
