@using FitnessUniverse.Models
@model IEnumerable<Korisnik>
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <style>
            body {
                background: #b3fef9;
            }
        </style>
        <meta name="viewport" content="width=device-width" />
        <title>Treneri</title>
    </head>
    <body>


        @foreach (var m in Model)
        {
            if (m.Uloga == "Trener")
            {
                <form action="~/Vlasnik/ObrisiT">
                    <table cellspacing="10">

                        <tr>
                            <td style="width: 30px; text-align: center;">
                                Ime:

                            </td>
                            <td style="width: 30px; text-align: center;">
                                Prezime:
                            </td>

                        </tr>
                        <tr width="100%">

                            <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @m.Ime /p></td>
                            <td fontsize="2" style="width: 100px;" align="center"><p colour="red">  @m.Prezime </p></td>
                        </tr>

                        <tr>

                            <td colspan="4" align="center"> <input type="hidden" value="@m.Username" name="name"><input type="submit" value="OBRISI TRENERA" /></td>
                        </tr>
                    </table>
                </form>
            }


        }
    </body>
</html>
